h1
{
    font-family: 'Pacifico', cursive;
    width: 60%;
    margin: 5% auto;
    text-align: center;
}
body
{
    background:grey;
}
main
{
    background: #807C7C;
    width: 60%;
    margin: 5% auto;
}
article {
    background: white;
    border: 2px solid grey;
    margin: 1% auto; 
    width: 60%;
}

article > h3{
    font-size: 1em;
}

article:hover{

    background: red;
}

article:hover > h3{
    color: grey;
}

footer {
font-family: 'Pacifico', cursive;
color: white;
}