h1
{
    font-family: 'Pacifico', cursive;
    width: 60%;
    margin: 5% auto;
    text-align: center;
}
body
{
    background:grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: red;
  }
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
main
{
    background: #807C7C;
    width: 60%;
    margin: 5% auto;
}
article {
    background: white;
    border: 2px solid grey;
    margin: 1% auto; 
    width: 60%;
}

article > h3{
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
}

article:hover{

    background: red;
}

article:hover > h3{
    color: grey;
}

footer {
font-family: 'Pacifico', cursive;
color: white;
}