


body{
    background-image: url("https://live.staticflickr.com/2817/32736014784_fcc8c78e6d_h.jpg");
    background-repeat: no-repeat;
}

.container{
    display:grid;
    grid-gap: 5px;
    grid-template-areas: 
    "header"
    "calculator"
    "todos"
    "aside";
}
.header{
    grid-area: header;
    height:40px;
    
}

.calculator{

    background-color: green;
}

.todo{
    background-color:red;
}

/*.dateandtime{
    background-color:blue;
    */
}

input{
    background: white;
    width: 25%;
    box-sizing: border-box;
    height:50px ;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left:25px;
    border: 3px solid gray;
    color: gray;
}
input:focus{
    background: #edf1f5;
    border: 3px solid #86a8e7;
    outline:none;
    color: #86a8e7;
}

span{
    margin-right: 10px;
    text-align:center;
    height:50px;
    width: 0;
    opacity: 0;
    -webkit-transition:0.3s;
    transition: 0.3s linear;
}


}
button{
    background-color:#86a8e7; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:4px;
    font-family:Bad Script;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}
button:hover {
    background-color: white;
    color: black;
    border: 2px solid #86a8e7;
}

#buttons{
    display:inline-block;
    text-align:center;
    margin-left:22%;
    position:absolute;
    bottom:5px;
}
#todo{
    margin: 0 auto ;
    box-shadow: 0 0 1em black;
    max-width: 100px;
    height:100%;
    background:white;
    position:relative;
}
#overlay{
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.7); 
    overflow-x: hidden; 
    transition: 0.5s; 
    -webkit-transition:  0.5s;
}
#overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color:#86a8e7;
    cursor: pointer;
}
#overlay li{
    padding: 8px;
    list-style-type:circle;
    font-size: 30px;
    color: #818181;
    display: block;
}
.todos{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.todos li{
    background: #f7f7f7;
    height:20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 20px;
}
.todos li:nth-child(2n){
    background:#edf1f5;
}
.todos li:hover span{
    width: 50px;
    opacity: 1.0;
    margin-left: 5px;
}
.display{
    display:none;
    transition: 0.3s linear;
}
.checked{
    color:gray;
    text-decoration:line-through;
}

.fa-pencil-alt{
    float: right;
    padding-top: 8px;
}
.fa-trash-alt{
    color:#7f7fd5;
}
.tips{
    position: relative;
    top: 20%;
    width: 100%; 
    text-align: center; 
    margin-top: 25px;
}

      

/* Mobile-first style */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://live.staticflickr.com/2817/32736014784_fcc8c78e6d_h.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #3498db;
    padding-top:0px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
	text-align:center;
	color:#ffffff;
}

a {
	color:#ffffff;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    padding-right: 10px;
  }

main{
    grid-area: main;
    min-height: calc(100vh - 175px);
    padding: 20px 6px;  
}

nav{
    grid-area: nav;
}

aside{
    grid-area: aside;
    padding-left: 5px;
    padding-right: 5px;
}


.clock{
    width:80%;
    min-width: 140px;
    height:65px;
    max-height: 65px;
    border-radius: 5px;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:26px;
    padding:5px 2px;
    margin: 3px auto;
    text-align: center;
}


#calculator {
    /* display:none; */
	width: 200px;
	padding: 8px 8px 20px 8px;
	margin: 20px auto;
	background-color: #ABABAB;
	border-radius: 4px;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #C1C1C1;
	border-left: 2px solid #C1C1C1;
	box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
}

#display {
	display: block;
	margin: 15px auto;
	height: 42px;
	width: 174px;
	padding: 0 10px;
	border-radius: 4px;
	border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #FFF;
	border-left: 2px solid #FFF;
	background-color: #FFF;
	box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
	font-size: 28px;
	color: #666;
	text-align: right;
	font-weight: 400;
}

.button {
	display: inline-block;
	margin: 2px;
	width: 42px;
	height: 42px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
}


#clearButton:hover {
	background-color: #FFBA75;
	box-shadow: 0px 0px 2px #FFBA75, inset 0px -20px 1px #FF8000;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #AE5700;
	border-left: 2px solid #AE5700;
}

#clearButton {
	color: #FFF;
	text-shadow: -1px -1px 0px #44006F;
	background-color: #D20000;
	border-top: 2px solid #FF8484;
	border-right: 2px solid #FF8484;
	border-bottom: 2px solid #800000;
	border-left: 2px solid #800000;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #B00000;
}


#gd-calendar{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 5px;
    width: 250px;
    grid-auto-rows: minmax(35px, auto);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1c1c1;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: rgb(204,204,204, 0.5);
}

#gd-calendar-year{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-align:center;
    grid-column: 1/ span 7;
}

.gd-calendar-week{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 200;  
    color: #fff;  
}

.gd-calendar-date{
    font-size: 16px;
    font-weight: bold;
    /* border: 1px solid #000; */
    color: #fff;
}

.otherMonth{
    color: #c0c0c0;
    font-weight: 100;
}


#gd_calculator{
    display:grid;
    width:250px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(35px, auto);
    padding: 15px 15px 15px 10px; 
    border-radius: 4px;
	border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #FFF;
	border-left: 2px solid #FFF;
	background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#gd_display{
    grid-column: 1/ span 4;
    border-radius: 4px;
	border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #FFF;
	border-left: 2px solid #FFF;
	background-color: #FFF;
	box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
	font-size: 28px;
	color: #666;
	text-align: right;
    font-weight: 400;
    padding: 0 10px;
}

.gd-button{
    width: 40px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
    border-radius: 4px;
    margin:5px;
}

.gd-digits{
    color: #181818;
	text-shadow: 1px 1px 0px #FFF;
	background-color: #EBEBEB;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #C1C1C1;
	border-left: 2px solid #C1C1C1;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #DCDCDC;
}

.gd-mathButtons{
    color:#ffffff;
    text-shadow: -1px -1px 0px #44006F;
	background-color: #434343;
	border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #181818;
	border-left: 2px solid #181818;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2E2E2E;
}

/* To Do List Styles */

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  margin: 0 0 0 20px;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  padding: 20px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  /*border: none;
  border-radius: 0;*/
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 24%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* End To Do List Styles */

/* Media Queries */

@media(min-width:320px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
        "main"
        "nav"
		"aside";
    }

    nav ul{
        display: flex;
        flex-direction: column;
		padding-bottom:20px;
		margin-right: 20px;
    }

    main {
        padding: 10px;
      }
}

@media(min-width:768px){
    .container{
        grid-template-columns: 2fr;
        grid-template-areas: 
        "main main"
        "nav aside";
    }
    nav ul {
        flex-direction: column;
      }

    main{
        font-size: 20px;
        color: #fff;
    }
}

@media(min-width:976px){
    .container{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: 
        "header header header"
        "nav main aside"
        "aside1 main banner"
        "footer footer footer";
    }
    nav ul {
        flex-direction: column;
      }

    main{
        font-size: 20px;
        color: #fff;
    }
}
