/* Mobile-first style */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://live.staticflickr.com/2817/32736014784_fcc8c78e6d_h.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    font-weight: 500;
	text-align:center;
	margin-top: 20%;
    color:#ffffff;
    font-style: bold;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
	text-align:center;
	color:#ffffff;
}

.items{
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 500px 200px;
    grid-template-rows: 90px 10px;
    grid-template-areas: "Calculator . . To-dolist" "Greeting Greeting Greeting Greeting" ". . . .";
    place-items: center center;
  }
  
  .Calculator { grid-area: Calculator; }
  
  .Greeting { grid-area: Greeting;

}




