/* Mobile-first style */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://live.staticflickr.com/2817/32736014784_fcc8c78e6d_h.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    font-weight: 500;
	text-align:center;
	margin-top: 20%;
    color:#ffffff;
    font-style: bold;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
	text-align:center;
	color:#ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: "Calculator . . To-do\ list" "Greeting Greeting Greeting Greeting" ". . . .";
  }
  
  .Calculator { grid-area: Calculator; }
  
  .Greeting { grid-area: Greeting; }
  
  .To-do\ list { grid-area: To-do\ list; }

/* End To Do List Styles */

/* Media Queries */

@media(min-width:320px){
    .container{
      grid-template-columns: 1fr;
      grid-template-areas:
      "main"
      "nav"
		  "aside";
    }

    nav ul{
      display: flex;
      flex-direction: column;
		  padding-bottom:20px;
		  margin-right: 20px;
    }

    main {
        padding: 10px;
      }
}

@media(min-width:768px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "main main"
        "nav aside";
    }
    nav ul {
        flex-direction: column;
      }

    main{
        font-size: 20px;
        color: #fff;
    }
}

@media(min-width:976px){
    .container{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: 
        "header header header"
        "nav main aside";
    }
    nav ul {
        flex-direction: column;
      }

    main{
        font-size: 20px;
        color: #fff;
    }
}

