*{
    font-family: 'Lato', sans-serif;
  }
  
  .main {
    display: flex;
    height: 450px;
    width: 850px;
    background-image: url("https://i.ibb.co/WkztMp7/nasa-background.jpg") ;
    margin: 0 auto;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;

  }
  
  .section {
    height:324px;
    width: 850px;
    background-color: grey;
    height:324px;
    width: 850px;
    background-color: grey;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    column-width: 270px;
    -moz-column-width:270px;
    -webkit-column-width:270px;
    column-gap: 20px;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
   
      
  }
  
  h1 {
    font-weight: bold;
    color:white;
    font-size: 40px;
  }
  
  h2 {
      font-weight: bold;
      font-size: 20px;
      color:black;
      padding-top:20px;
      padding-bottom:20px;
      padding-left:20px;
      margin:0px;
  }
  
  p {
    font-weight: normal;
    padding-left: 20px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size: 14px;
  }
  