/* work page desktop */
.header{

    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #2d3436;
}

h3{
    font-family: 'Raleway', sans-serif;

}

.nav {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.nav > a {
  transition: color .5s;
  color: #000000;
}

.nav > a:hover {
    color:#2d3436;
}

#wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 932px;
    margin: auto;
}

.box1{
    width: 300px;
    height: 300px;
    background-image: url("https://neilpatel.com/wp-content/uploads/2017/02/blogging.jpg"); 

}

.box2{
    width: 300px;
    height: 300px;
    background-image: url("http://www.nasa.gov/sites/default/files/thumbnails/image/15-066.png"); 

}

.box3{
    width: 300px;
    height: 300px;
    background-image: url("https://www.timeatlas.com/wp-content/uploads/momentum-dashboard1.png"); 

}

.box4{
    width: 300px;
    height: 300px;
    background-image: url(""); 

}

.box5{
    width: 300px;
    height: 300px;
    background-image: url(""); 

}

.box6{
    width: 300px;
    height: 300px;
    background-image: url(""); 

}

.transparency {
    width: 100%;
    height: 100%;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 7;
    transition: opacity 1s;
}

.transparency:hover {
    opacity: .5;
}

p {
    text-align: center;
    font-family: "Menlo";
    color: #ffffff;
}

/* work page mobile */

@media (max-width: 576px) {
    #wrapper {
        grid-template-columns: 1fr;
        width: 300px;
    }

    .transparency {
        opacity: .5;
    }

    .nav > a {
        color: #d63031;
    }
}