


h1{
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    grid-column: 2/3;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}
.grid {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: repeat(3, 300px);
    grid-gap: 1em;
  }
  
  header,
  aside,
  article,
  footer {
    background: #eaeaea;
    padding: 1em;
    justify-items: center;

  }
  
  header, footer {
    grid-column: 1 / 4;
  }
  
  /* Demo Specific Styles */
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  }
  
  .grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }