h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: 1%;

}
#colorstrip{
    width: 100%; height: 2px;
    border-style: solid;
    border-color:#34495e;
    background-color:#34495e;
}

h2{

    font-family: 'Livvic', sans-serif;
    text-align: center;
    text-decoration: #34495e underline;
}

h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p{
    text-align: center;
}

div{

    background: transparent;
    width: 50%;
    margin: 1% auto;
    border: 1px solid #34495e;
}