h1{
    font-family: 'Mansalva', cursive;
    text-align: center;
}

div[data-cell] {
    width: 105px;
    height: 105px;
    background-color: #f2f2f2;
    float: left;
    border: 2px solid #34495e;
    font-size: 105px;
    text-align: center;
  }
  
  .row {
    clear: both;
    

  }

  .clear{
    margin: 50px;

  }
  
  
  #announce-winner {
    clear: both;
    font-size: 70px;
  }

  