body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.ibb.co/DrMPd9X/samuel-zeller-o-Bb-Y26-PJgg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
  }
  
  .logo {
    width: 30%;
    height: 80%;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;


  }
    
  
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:black;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
    font-family: 'Comfortaa', cursive;
}
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    font-family: 'Comfortaa', cursive;

  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 16px;
    font-style: italic;
  }
/*Mobile*/
/* Extra Small and up (Portrait Phones) */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	
	/* Hide the desktop nav*/
	nav {
    	visibility:hidden;
		display:none;
  	}
	
	/* Show the mobile nav */
	#mobile-nav{
		visibility: visible;
		display:flex;
		justify-content: center;
    }
    
    .logo {
      visibility: :hidden;
      display: none;
    }
	
	/* Change the header to a one-column grid */
	header {
    	grid-template-columns: 95%;
		justify-content: center;
	}
	
	/* Here's where I override the styles.css */
	#mobile-nav a {   
    	font-size: 16px;
    	padding: 10px 18px;
  }
	
	/*Reduce the size of the profile pic*/
	#profile-pic {
    	width: 175px;
    	height: 175px;
  	} 
	
	/* Adjust the grid-template-columns */
	main {
        grid-template-columns: 5% 90% 5%;
	}
}

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

	/* No adjustments needed */

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
	
	/* Maybe bump up the pic size at this res */
	#profile-pic {
    	width: 250px;
    	height: 250px;
  	}

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

	/* Show the desktop nav */
	nav {
    	display: flex;
		visibility:visible;
	  }
	  
	nav a {
		font-size: 20px;
		padding: 20px; 
	}
	
	/* Hide the mobile nav  */
	#mobile-nav {
		visibility: hidden;
		display:none;
  	}

	/* Change the header to a two-column grid*/
	header {
    	grid-template-columns: 40% 60%;
  	}
  
  	/* Adjust the grid-template-columns */
	main {
        grid-template-columns: 30% 40% 30%;
	}

	/*Resize the pic */
	#profile-pic {
    	width: 300px;
    	height: 300px;
	}
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

	/* No adjustments needed */

}
